<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!--********Logo**********-->
  <link rel="icon" type="image/png" sizes="35x35" href="/public/assets/image/logo.png">
  <!--******Bootstrap*****-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <!--****Fuente****-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/src/style/index.css">
    <title>POS Express - Página Principal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header><h1>POS Express</h1></header>
    <main>
        <section>
            <h2>Tu negocio, tu control</h2>
            <p>Un sistema de ventas rápido y seguro</p>
            <a href="login.html" class="btn">Iniciar Sesión</a>
        </section>
    </main>
    <footer>
        <p>Contacto: info@posexpress.co | Tel: (57) 300-123-4567</p>
        <p>Dirección: Cúcuta, Norte de Santander</p>
    </footer>
</body>
</html>