body{
    color: white;
  
}



/*------Clase para los colores*----------*/

.azul-oscuro{
    background-color:  #09376D;

}

.azul-text{
  color: #09376D;
}

.azul-claro{
  color: var(--bs-info);
}
/*--------------------------------------------*/

/**Descativar borde negro del boton menu o hamburguesa**/
.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important; /* opcional: si quieres que el botón esté más justo al ícono */
    background: transparent !important; /* opcional: evita colores de fondo */
  }
  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  /*--Boton inciar sesion navbar--*/

  .btn_inse{
    background-color: #c09813;
  }

  .btn_inse:hover{
    background-color: #e0b218;
    transform: scale(1.01);
    color:rgb(0, 0, 0);
    font-weight: 500;
    
  }
  /*--------------------------*/



  /*-----------section bienvenida---------*/
  
  .titulo{
    letter-spacing: 8px;
    font-weight: 900;
    font-family:'Arial';

  }

  .subtitulo_1,  .subtitulo_2{
    font-family: "Raleway";
    color: var(--bs-info);
    

  }

  .descripcion{
    font-size: 0.76rem;
  }

  /**----------------------------------*/




/*-----------Section de tarjetas------------*/

.tarjeta1_descripcion p{
  font-size: 0.75rem;
}

.tarjeta2_descripcion p, 
.tarjeta3_descripcion p, 
.tarjeta4_descripcion p{
  font-size: 1rem;
}

.tarjeta-1{
    background-color: #09376D;  
  }

.tarjeta-2{
  background-color: #4977A7;
  
}

.tarjeta-3{
 background-color: #9FC3E1;
 color: #09376D;
 
}

.tarjeta-4{
  background-color: #ccdcf0;
  color: #09376D;
  

}

.tarjeta-1,
.tarjeta-2,
.tarjeta-3,
.tarjeta-4 {
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  overflow: hidden;
}

.tarjeta-1:hover,
.tarjeta-2:hover,
.tarjeta-3:hover,
.tarjeta-4:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);  
}




/*----------Seccion de servicios-----------*/
.text_servicios p{
  font-size: 0.50rem;
}
